<div class="container">
  <div class="row">
    <div class="col-3">
      SIDEMENU
    </div>
    <div class="col-9">
      <%= link_to 'ユーザーの一覧', users_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
</div>