<footer class="page-footer font-small pt-4 bg-dark">
  <div class="container text-center text-md-left text-white">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-center">Appirits</h5>
        <p class="text-center">セカイに愛される<br>
        インターネットサービスをつくり続ける</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">


      <div class="col-md-3 mb-md-0 mb-3">

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to 'Appirits', root_path %>
  </div>
</footer>